/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Keep the footer at the bottom of the screen if content in the main is little. */
.wrapper {
    flex: 1;
}

section {
    width: 80%;
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid black;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label,
input,
textarea,
select {
    margin-bottom: 10px;
}

h2 {
    color: #333;
}

.navbar {
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem;
    box-sizing: border-box;
}

.navLinks {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navTitle {
    font-size: 1.25em;
    font-weight: bold;
    color: #4d4d4d;
}

.button {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #7085e5;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #8070d0;
}

.svg-container {
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: inline-block;
}

.logo-svg {
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.3));
}

.logo-svg.with-transition {
    animation: fadeIn 2s ease-out forwards;
}

/* Logo Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

section {
    animation: fadeIn 1s ease-in;
}

/* 
@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.slidingContent {
    animation: slideIn 1s ease-in-out;
} */

.dropdown {
    display: none;
}

footer {
    width: 100%;
    background-color: #7085e5;
    color: white;
    text-align: center;
    padding: 1em 0;
}


footer a {
    color: white;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

/* When the screen is less than 640 pixels wide, hide all links */
@media screen and (max-width: 640px) {
    .navLinks {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 5px;
    }

    /* hiding all the <a> elements that are direct children. And doesn't affect grand children <a> tags, in menu dropdown. */
    .navLinks>a {
        display: none;
    }

    .dropdown {
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
}

@media (max-width: 20em) {
    body {
        font-size: 5vw;
    }
}

@media (min-width: 20em) and (max-width: 90em) and (orientation: portrait) {
    body {
        font-size: 3vw;
    }
}

/* 
640
800
1024
1280 (and larger)
-
20em
64em
90em
120em
*/